.VerticalNav {
    position: fixed;
    font-family: var(--text-font);
    list-style: none;
    color: darkgray;
    font-size: 1.3em;
    margin: 0;
    padding-left: 4px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.active {
    color: var(--primary-text-color);
}