.main {
    background-image: url('../../assets/pawel-czerwinski-BNhoExCn9V4-unsplash.jpg');
    background-size: cover;
    color: var(--primary-text-color);
    font-family: var(--text-font);
}

section {
    display: grid;
    height: 100vh;
}

.intro{
    margin: auto;
    margin-left: 4%;
    font-size: 3em;
    text-align: left;
    border-style: solid;
    border-width: 8px;
    padding: 4%;
}

.intro p{
    margin: 0;
}

.introMainText {
    font-size: 3em;
}

.title {
    font-size: 3em;
    text-align: right;
    padding-right: 4%;
}

.projBox {
    display: flex;
    justify-content: space-evenly;
    padding-left: 4%;
    padding-right: 4%;
    height: 80%;

}

.gridItem {
    text-align: center;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    font-size: 2em;
    padding: 2%;
}

.gridItemTitle{
    font-size: 2em;
    margin-top: 4%;
}

.LinkWrapper {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    color: var(--primary-text-color);
}

.LinkWrapper:hover {
    border-bottom: 1px solid var(--primary-text-color);
}

