.main {
    background-image: url('../../assets/daniel-olah-HNkgPFBShSw-unsplash-darker.jpg');
    background-size: cover;
}

section {
    display: grid;
    height: 100vh;
}

.welcome{
    margin: auto;
    width: 96%;
    font-size: 3em;
    font-family: 'Orbitron', sans-serif;
    color: white;
    text-align: right;
}

.title {
    font-size: 1.8em;
    font-family: 'Orbitron', sans-serif;
    color: white;
    text-align: right;
    padding-right: 4%;
}

.projBox {
    display: flex;
    justify-content: space-evenly;
    padding-left: 4%;
    height: 80%;

}

.gridItem {
    text-align: center;
    background-color: rgba(0,0,0,.5);
    border-radius: 20px;
    width: 100%;

}
