.main {
    height: 100%;
    top: 0;
    width: 100%;
    overflow: hidden;
    font-family: "Major Mono Display";
    background-color: #222629;
}

.title {
    color: white;
    font-size: 1.6em;
    padding-left: 4%;
}

.information {
    padding-left: 4%;
    color: white;
}

.image {
    padding-left: 4%;
    width: 50%;
    padding-bottom: 4%;
}