.main {
    font-family: "Major Mono Display";
    background-color: var(--background-color);
    padding: 20px;
    height: 100%;
    min-height: 100vh;
}

.info-grid {
    display: flex;
}

.title {
    color: var(--text-color-2);
    font-size: 1.6em;
}

.image {
    width: 50%;
}

.information {
    color: var(--text-color-1);
    width: 50%;
}

.image img{
    width: 100%;
}

@media (max-width: 998px) {
    .info-grid {
        flex-direction: column;
    }
    
    .title {
        font-size: 1.2em;
    }

    .information {
        font-size: .8em;
    }
}