.HorizontalNav {
    display: flex;
    position: absolute;
    width: 96%;
    justify-content: right;
    font-family: var(--text-font);
    list-style: none;
    font-size: 1.5em;
}

.HorizontalNav li {
    padding-left: 4%;
}

.LinkWrapper {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    color: var(--primary-text-color);
}

.LinkWrapper:hover {
    border-bottom: 1px solid var(--primary-text-color);
}