.HorizontalNav {
    display: flex;
    position: absolute;
    width: 96%;
    justify-content: right;
    font-family: 'Orbitron', sans-serif;
    list-style: none;
    font-size: 1.3em;
}

.HorizontalNav li {
    padding-left: 4%;
}

.LinkWrapper {
    text-decoration: none;
    color: white;
}