.main {
    font-family: var(--text-font);
    color: var(--primary-text-color);
    height: 100vh;
    background-image: url('../../assets/pawel-czerwinski-BNhoExCn9V4-unsplash.jpg');
    background-size: cover;
}

.title {
    font-size: 3em;
    padding-left: 4%;
    padding-top: 1.5%;
    margin: 0%;
}

.InfoSection {
    width: 100%;
    font-size: 2em;
    text-align: center;
}

.ResumeSection {
    width: 100%;
    font-size: 2em;
    text-align: center;
}

.LinkWrapper {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    color: var(--primary-text-color);
}

.LinkWrapper:hover {
    border-bottom: 1px solid var(--primary-text-color);
}