.main {
    font-family: var(--text-font);
    color: var(--primary-text-color);
    height: 100vh;
    background-image: url('../../assets/pawel-czerwinski-BNhoExCn9V4-unsplash.jpg');
    background-size: cover;
}

.title {
    position: absolute;
    font-size: 1.4em;
    padding-left: 4%;
}