nav {
    display: flex;
    justify-content: space-between;
}

.Right-Side {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2em;
    padding-right: 22px;
}

.Left-Side {
    padding-left: 22px;
    color: #CC9900;
    font-size: .8em;
    height: 22px;
}

.link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    text-decoration: none;
    color: white;
}

.link-wrapper:hover {
    border-bottom: 1px solid #CC9900;
    color: #CC9900;
}