nav {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.Right-Side {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2em;
}

.Left-Side {
    color: var(--text-color-1);
    font-size: .8em;
}

.link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    text-decoration: none;
    color: white;
}

.link-wrapper:hover {
    border-bottom: 1px solid var(--text-color-1);
    color: var(--text-color-1);
}

@media (max-width: 992px) {
    nav {
        padding-left: 0;
        padding-right: 0;
    }
    .Left-Side {
        display: none; 
    }
    .Right-Side{
        font-size: 1.1em;
        padding-left: 0px;
    }

    .cgol {
        display: none;
    }
}